body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f5f5f5;
}

#quiz-container {
    height: 20rem;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7px );
-webkit-backdrop-filter: blur( 7px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

#question {
    font-size: 25px;
    margin-bottom: 20px;
}

#options button {
    width: 20rem;
    display: block;
    font-size: large;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#options button:hover {
    background-color: #0056b3;
}

